.head
{
    color: #EED522;
}
.image
{
    height: 300px;
    width: auto;
}
.page1
{
    color: white;
    margin: auto;
    background-color: black;
    background-size: auto;
}

.page2
{
    color: white;
    margin: auto;
    background-color: black;
    background-size: auto;
}

.page3
{
    color: white;
    margin: auto;
    background-color: black;
    background-size: auto;
}

.container
{
    background-color: #5D0B25;
    width: 1000px;
    padding: 10px;
    border: 5px solid gray;
}

.takeaway
{
    background-color:#511709;
    width: 700px;
    padding:10px;
    border:5px solid gray;
}

.application
{
    background-color:#2E4FD4;
    width: 700px;
    padding:10px;
    border:5px solid gray;
}